body{
	margin-top:10px;
	margin-left:0;
	margin-bottom: 20px;
}

.andiSays {
	width: 85%;
	margin-top: 0px;
	padding: 10px;
	background-color:lightgrey;
    color:black;
    font-family: 'Roboto Condensed', sans-serif;
}
.optionStyle {
	border-style: solid;
    border-width: 1px;
	width: 85%;
    margin-left: 11%;
	margin-top: 10px;
	padding: 10px;
	background-color:white;
    color: dodgerblue;
    font-family: 'Roboto Condensed', sans-serif;
	cursor:pointer;
}
#typingGif{
	margin-left:24%;
	margin-top:-5px;
	display:none;
}

.messenger{
    width:50%;
    margin-left:25%;
	border-color:dodgerblue;
	border-width: 3px;
}

.talk-bubble {
  	position: relative;
}

.selected{
	background-color:dodgerblue;
	color:white;
}

.tri-right.left-in:after{
	content: ' ';
	position: absolute;
    left: -20px;
	right: auto;
    top: 10px;
	bottom: auto;
	border: 12px solid;
	border-color: lightgrey lightgrey transparent transparent;
}

.tri-right.right-in:after{
	content: ' ';
	position: absolute;
    left: auto;
	right: -20px;
    top: 10px;
	bottom: auto;
	border: 12px solid;
	border-color: dodgerblue transparent transparent dodgerblue;
}

#startConversation{
	width:30%;
	margin-left:35%;
	margin-top:40vh;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 1em;
	background: dodgerblue;
	color:white;
	padding:7px;
}

.controlItem{
	position: relative;
	display:inline-block;
	color:dodgerblue;
	border-color:dodgerblue;
	border-style: solid;
	border-width:1px;
	background-color:white; 
	padding:5px;
	font-family: 'Roboto Condensed', sans-serif;
	cursor:pointer;
	width:100%;
	margin-top: 5px;
}

#controller{
	position: fixed;
	width:13%;
	margin-left:85%;
	display:none;
	z-index: 20;
	martop:;
}

.selected{
	background-color:dodgerblue; 
	color:white;
}

.greyCover{
	clear: both;
	width:100vw;
	height:1200px;
	background-color:black; 
	opacity: 0.3;
}

.notice{
	position: relative;
	width:198%;
	padding:15px;
	left:-50%;
	text-align: center;	
	font-family: 'Roboto Condensed', sans-serif;
	margin-bottom: 15px;
	z-index: -30;
}

.formatted{
	background-color: grey;
	color:white;
}

.paused{
	background: lightcoral;
	color: white;
}

.online{
	background:deepskyblue;
	color:white;
}

@media only screen and (max-width: 768px) {
    .andiSays {
	width: 90%;
	margin-top: 10px;
	padding: 10px;
	background-color:lightgrey;
    color:black;
    font-family: 'Roboto Condensed', sans-serif;
}
.optionStyle {
	border-style: solid;
    border-width: 1px;
	width: 90%;
    margin-left: 5%;
	margin-top: 10px;
	padding: 10px;
	background-color:white;
    color: dodgerblue;
    font-family: 'Roboto Condensed', sans-serif;
	cursor:pointer;
}
#typingGif{
	margin-left:8%;
	margin-top:-5px;
}
body{
    margin:0;
}
.messenger{
    width:80%;
    margin-left:10%;
}

.talk-bubble {
  	position: relative;
}

.selected{
	background-color:dodgerblue;
	color:white;
}

.tri-right.left-in:after{
	content: ' ';
	position: absolute;
    left: -20px;
	right: auto;
    top: 10px;
	bottom: auto;
	border: 12px solid;
	border-color: lightgrey lightgrey transparent transparent;
}

.tri-right.right-in:after{
	content: ' ';
	position: absolute;
    left: auto;
	right: -20px;
    top: 10px;
	bottom: auto;
	border: 12px solid;
	border-color: dodgerblue transparent transparent dodgerblue;
}
}